.button {
    background-color: $color-secondary;
    display: inline-block;
    transform: skewX(-15deg);
    padding: .75rem 3rem;
}

.link--button {
    transform: skewX(15deg);
    display: block;
}

.form-button {
    background-color: $color-primary;
    color: $color-white;
    text-align: center;
    padding: .25rem 6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-radius: .1rem;
    width: 100%;
    display: block;
    margin-top: 2rem;

    &:hover {
        color: $color-white;
    }
}
